{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-3">Documentation partiel API</h1>
    {% if not app.user %}
        <a class="btn btn-success" href="{{ path('app_login') }}">LOGIN</a>
    {% else %}
        <a class="btn btn-danger" href="{{ path('app_logout') }}">LOGOUT</a>
    {% endif %}
    {% if is_granted('ROLE_ADMIN') %}
        <a class="btn btn-primary" href="{{ path('app_admin') }}">ADMIN</a>
    {% endif %}

    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/register</u></h5>
        <h6>Type de route : POST</h6>
        <h6>Exemple de corps de requête : <br>
            <code>
                { <br>
                "email":"jeremy@mail.com", <br>
                "password":"coucou" <br>
                } <br><br>
            </code>
            cette requête créée un compte dans l'application
        </h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/login-check</u></h5>
        <h6>Type de route : POST</h6>
        <h6>Exemple de corps de requête : <br>
            <code>
                { <br>
                "email":"jeremy@mail.com", <br>
                "password":"coucou" <br>
                } <br><br>
            </code>
            Cette requête retourne un token pour connecter un utilisateur à l'application
        </h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/profile</u></h5>
        <h6>Type de route : GET</h6>
        <h6>Cette requête retourne le profil de l'utilisateur en cours</h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/cart/add/{productId}/{quantity}</u></h5>
        <h6>Type de route : POST</h6>
        <h6>Cette requête permet d'ajouter un produit à notre panier en indiquant dans l'url l'id du produit et sa quantité</h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/cart/remove/{productId}</u></h5>
        <h6>Type de route : POST</h6>
        <h6>Cette requête permet de retirer un seul produit et en une quantité de notre panier en indiquant dans l'url l'id du produit</h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/cart/removewhole/{productId}</u></h5>
        <h6>Type de route : POST</h6>
        <h6>Cette requête permet de retirer un seul produit mais dans son entiéreté de notre panier en indiquant dans l'url l'id du produit</h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/cart/empty</u></h5>
        <h6>Type de route : POST</h6>
        <h6>Cette requête permet de vider notre panier</h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/cart</u></h5>
        <h6>Type de route : GET</h6>
        <h6>Cette requête permet de retourner notre panier</h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/cart/total</u></h5>
        <h6>Type de route : GET</h6>
        <h6>Cette requête permet de retourner le montal total actuel de notre panier</h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/product/{productName}</u></h5>
        <h6>Type de route : GET</h6>
        <h6>Cette requête permet de retourner un produit à l'aide du nom de ce dernier (renvoyer par le qr code)</h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/makeorder</u></h5>
        <h6>Type de route : POST</h6>
        <h6>Cette requête permet de passer une commande à partir des articles de notre panier</h6>
    </div>
    <div class="border border-dark p-3 m-3">
        <h5><u>https://partielS2.jeremyduc.com/api/myorders</u></h5>
        <h6>Type de route : GET</h6>
        <h6>Cette requête permet de retourner toutes les commandes déjà effectuées par l'utilisateur en cours</h6>
    </div>
{% endblock %}
