{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-3">ADMIN PANEL</h1>
    <a class="btn btn-primary" href="{{ path('app_admin_products') }}">VIEW ALL PRODUCTS</a>
    <a class="btn btn-primary" href="{{ path('app_admin_product_create') }}">CREATE NEW PRODUCT</a>
    <a class="btn btn-primary" href="{{ path('app_admin_orders') }}">VIEW ALL ORDERS</a>
{% endblock %}
