{% block title %}Create Product{% endblock %}

{% block body %}
    <h1 class="mt-4 mb-3">Add a product</h1>
    {{ form_start(productForm) }}
    {{ form_row(productForm.name) }}
    {{ form_row(productForm.price) }}
    <button type="submit">SUBMIT</button>
    {{ form_end(productForm) }}
{% endblock %}